.overlaySocialButton {
  padding: 0.5em;
  background-color: green;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.5em 0;
  text-align: center;
}

.overlayContent {
  flex: 4;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  margin: 0 0.5em 1em 0.5em;
  /* width: 80%; */

  flex-basis: 80%;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  z-index: 10;
}
