.loader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: spinner infinite 3s linear;
}

.slider {
  position: relative;
  overflow: scroll;
  height: 100vh;

  max-width: 500px;
  margin: 0 auto;

  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
